body{
  background-color: #B0E0E6 /*#4B9CD3*/;
  display: flex;
  justify-content: center;
  font-family: cursive, Helvetica, sans-serif;


}

h1{
  font-size: 50px;
  line-height: 0.7;
  color: #000080;
  margin: 0;
  letter-spacing: 3px;
  line-height: 45px;
}

p, h2{
  margin: 0;
}

.container{
  width: 468px;
  margin-top: 30px;
}

.info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 456px;
  height: 456px;
  background-color: #4B9CD3;
  border: 7px solid #000080;
  border-radius: 6px;
  margin-top: 20px;
}

.grid div {
  width: 100px;
  height: 100px;
  margin: 7px;
  border-radius: 3px;
  background-color: #000080;
  color: #000080;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  line-height: 1.6;
}

.score-container{
  text-align: center;
  width: 70px;
  height: 60px;
  border-radius: 3px;
  background-color: #4B9CD3;
  color: #000080;

}

#score{
  font-size: 30px;
}

.score-title{
  font-size: 16px;
}